#!/bin/bash

set -eux

DATE=$(date +%Y%m%d)

sudo -u postgres pg_dumpall | gzip > "/var/backups/postgres/postgres_backup_${DATE}.sql.gz"

chown root:root "/var/backups/postgres/postgres_backup_${DATE}.sql.gz"

gcloud auth activate-service-account --key-file /root/gcp-service-account.json
gsutil cp "/var/backups/postgres/postgres_backup_${DATE}.sql.gz" "gs://backups-kentaro/postgres/postgres_backup_${DATE}.sql.gz"

rm "/var/backups/postgres/postgres_backup_${DATE}.sql.gz"

curl -H "Content-Type: application/json" -d '{"content": "## :white_check_mark: PostgreSQL backup completed"}' "{{ postgres_backup_webhook_url }}"
