---
- name: Import alloy GPG key
  become: true
  ansible.builtin.apt_key:
    url: https://apt.grafana.com/gpg.key
    state: present

- name: Add alloy repository
  become: true
  notify: Update apt cache
  ansible.builtin.apt_repository:
    repo: "deb https://apt.grafana.com stable main"
    state: present

- name: Install alloy
  become: true
  ansible.builtin.apt:
    name: alloy
    state: present

- name: Check if docker group exists
  become: true
  ansible.builtin.getent:
    database: group
    key: docker
  register: alloy_docker_group
  ignore_errors: true

- name: Add alloy user to docker group
  become: true
  ansible.builtin.user:
    name: alloy
    groups: docker
    append: true
  when: not alloy_docker_group.failed

- name: Check if systemd service file exists
  become: true
  ansible.builtin.stat:
    path: /etc/systemd/system/alloy.service
  register: alloy_systemd_service_file
  ignore_errors: true

- name: Copy systemd service file if it doesn't exist
  become: true
  ansible.builtin.copy:
    src: /usr/lib/systemd/system/alloy.service
    remote_src: true
    dest: /etc/systemd/system/alloy.service
    mode: "0644"
  when: not alloy_systemd_service_file.stat.exists

- name: Change user using alloy service
  become: true
  notify: Reload systemd
  ansible.builtin.replace:
    path: /etc/systemd/system/alloy.service
    regexp: "^User=alloy$"
    replace: "User=root"

- name: Make alloy config directory
  become: true
  ansible.builtin.file:
    path: /etc/alloy
    state: directory
    mode: "0755"

- name: Load alloy secrets
  ansible.builtin.set_fact:
    alloy_secrets: "{{ lookup('community.sops.sops', '../secrets/secrets.enc.yaml') | from_yaml }}"

- name: Copy alloy config (use credentials)
  become: true
  notify: Restart alloy
  ansible.builtin.template:
    src: "{{ inventory_hostname }}.config.alloy.j2"
    dest: /etc/alloy/config.alloy
    owner: root
    group: root
    mode: "0644"
    backup: true

- name: Delete alloy credentials
  ansible.builtin.set_fact:
    alloy_secrets: {}

- name: Start alloy
  become: true
  ansible.builtin.systemd:
    name: alloy
    state: started
    enabled: true
